<% provide(:title, "検索") %>
<div class = "container">
  <div class = "search-form">
    <h1>店名・住所からお店を調べる</h1>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, class: "search-input", value: @keyword %>
      <section>
        <h3>並びを変えて検索</h3>
        <%= f.label :search, "作成日順(デフォルト)"%>
        <%= f.radio_button :search, :all, checked: true %>
        &nbsp;
        &nbsp;
        <%= f.label :search, "点数順" %>
        <%= f.radio_button :search, :score %>
        &nbsp;
        &nbsp;
        <%= f.label :search, "投稿数順" %>
        <%= f.radio_button :search, :post %>
        &nbsp;
        &nbsp;
        <%= f.label :search, "お気に入り登録数順" %>
        <%= f.radio_button :search, :like %>
      </section>

      <section>
        <%= f.submit "検索", class: "btn btn-search" %>
      </section>
    <% end %>
  </div>

  <div class = "index-form compact">
    <%= will_paginate @stores, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
      <div class = "index-objects">
        <% if @stores.count != 0 %>
          <%= render "search/store_index" %>
        <% else %>
          <%= render "search/no_results" %>
        <% end %>
      </div>
    <%= will_paginate @stores, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
  </div>
</div>
