<div class = "store-info">
    <h3 class = "table-title">投稿履歴</h3>
    <p>※レビューがある時間帯・曜日の待ち時間を調べられます。</p>
  <div class = "store-table">
    <table>
      <head>
        <tr>
          <th></th>
          <th>平日</th>
          <th>土日</th>
        </tr>
      <head>
      <body>
        <tr>
          <td class = "a">0~9時台</td>
          <td class = "b"><%= @microposts_0 %></td>
          <td class = "c"><%= @microposts_1 %></td>
        </tr>
        <tr>
          <td class = "a">10時台</td>
          <td class = "b"><%= @microposts_6 %></td>
          <td class = "c"><%= @microposts_11 %></td>
        </tr>
        <tr>
          <td class = "a">11時台</td>
          <td class = "b"><%= @microposts_7 %></td>
          <td class = "c"><%= @microposts_12 %></td>
        </tr>
        <tr>
          <td class = "a">12時台</td>
          <td class = "b"><%= @microposts_8 %></td>
          <td class = "c"><%= @microposts_13 %></td>
        </tr>
        <tr>
          <td class = "a">13時台</td>
          <td class = "b"><%= @microposts_9 %></td>
          <td class = "c"><%= @microposts_14 %></td>
        </tr>
        <tr>
          <td class = "a">14時台</td>
          <td class = "b"><%= @microposts_10 %></td>
          <td class = "c"><%= @microposts_15 %></td>
        </tr>
        <tr>
          <td class = "a">15~17時台</td>
          <td class = "b"><%= @microposts_2 %></td>
          <td class = "c"><%= @microposts_3 %></td>
        </tr>
        <tr>
          <td class = "a">18時台</td>
          <td class = "b"><%= @microposts_16 %></td>
          <td class = "c"><%= @microposts_20 %></td>
        </tr>
        <tr>
          <td class = "a">19時台</td>
          <td class = "b"><%= @microposts_17 %></td>
          <td class = "c"><%= @microposts_21 %></td>
        </tr>
        <tr>
          <td class = "a">20時台</td>
          <td class = "b"><%= @microposts_18 %></td>
          <td class = "c"><%= @microposts_22%></td>
        </tr>
        <tr>
          <td class = "a">21時台</td>
          <td class = "b"><%= @microposts_19 %></td>
          <td class = "c"><%= @microposts_23 %></td>
        </tr>
        <tr>
          <td class = "a">22~23時台</td>
          <td class = "b"><%= @microposts_4 %></td>
          <td class = "c"><%= @microposts_5 %></td>
        </tr>
      </body>
    </table>
  </div>
</div>