<% provide(:top_text, "ー店舗一覧ー") %>
<div class = "container">
  <div class = "index-form">
    <%= will_paginate @stores, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
        <div class = "index-objects">
          <% @stores.each do |store| %>
            <div class = "index-object">

              <%= image_tag store.store_image.attached? ? store.store_image : store_image(store), width:"80px", height:"80px" %> 

              <div class = "searched-store-info">
                <%= link_to store.name, store_path(store) %>
                <p><%= store.address %></p>
              </div>
            </div>
          <% end %>
        </div>
      <%= will_paginate @stores, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
  </div>
</div>

