<% provide(:top_text, "－店舗登録－") %>
<div class = "container">
  <div class = "input-form">
    <%= form_with(model: @store, local: true) do |f| %>

      <%= f.label :name, "店名" %>
      <%= f.text_field :name, class: 'form-control' %>
      <% if @store.errors.include?(:name) %>
        <p style="color: red;"><%= @store.errors.full_messages_for(:name).first %>
      <% end %>
      <p>※12文字以内で入力してください。</p>
      
      <div class = "input-submit">
        <%= f.submit "アカウント作成" %>
      </div>

    <% end %>
    
  </div>
</div>