<div class = "container">
  <div class = "store-form">
  
    <%= render "stores/store" %>
    <% if @current_user.admin? %>
      <div class = "store-action">
        <%= link_to "編集する", edit_store_path(@store), class: "edit-link store-edit" %>
        <%= link_to "削除", @store, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "delete store-edit" %>
      </div>
    <% else %>
      <div class = "store-action">
        <p>※お店の情報に変更がある場合は報告ください。</p>
        <%= link_to "報告する", new_contact_path, class: "edit-link store-edit" %>
      </div>
    <% end %> 

    <div class = "store-info">
      <div class = "store-table">
        <table>
          <body>
            <tr>
              <td class = "a">店名</td>
              <td class = "b"><%= @store.name %></td>
            </tr>
            <tr>
              <td class = "a">住所</td>
              <td class = "b"><%= @store.address %></td>
            </tr>
            <tr>
              <td class = "a">電話番号</td>
              <td class = "b"><%= @store.telephone_number %></td>
            </tr>
            <tr>
              <td class = "a">営業時間</td>
              <td class = "b"><%= @store.business_hours %></td>
            </tr>
            <tr>
              <td class = "a">定休日</td>
              <td class = "b"><%= @store.holiday %></td>
            </tr>
            <tr>
              <td class = "a">メニュー</td>
              <td class = "b"><%= simple_format(@store.menu) %></td>
            </tr>
          </body>
        </table>
      </div>
    </div>
    <div class = "review-form">
      <%= link_to "このお店のレビューをする", "/microposts/review/#{@store.id}", class: "btn btn-review" %>
    </div>
  </div>
</div>
