<div class = "container">
  <div class = "store-form">
  
    <%= render "stores/store" %>

    <div class = "store-info">
      <div class = "store-table">
        <table>
          <body>
            <tr>
              <td class = "a">店名</td>
              <td class = "b"><%= @store.name %></td>
            </tr>
            <tr>
              <td class = "a">住所</td>
              <td class = "b"><%= @store.address %></td>
            </tr>
            <tr>
              <td class = "a">電話番号</td>
              <td class = "b"><%= @store.telephone_number %></td>
            </tr>
            <tr>
              <td class = "a">営業時間</td>
              <td class = "b"><%= @store.business_hours %></td>
            </tr>
            <tr>
              <td class = "a">定休日</td>
              <td class = "b"><%= @store.holiday %></td>
            </tr>
            <tr>
              <td class = "a">メニュー</td>
              <td class = "b"><%= simple_format(@store.menu) %></td>
            </tr>
          </body>
        </table>
      </div>
    </div>
  </div>
</div>
