<% provide(:title, "#{@store.name}の待ち時間予測") %>
<div class = "container">
  <div class = "store-form">
  
    <%= render "stores/store" %>
    <h1 class = "page-title">待ち時間予測</h1>
    <div class = "waiting_time">
      <div class = "search-form">
        <h4>レビューの情報をもとに</h4>
        <h2>時間帯・曜日で</h2>
        <h2>待ち時間を調べる</h2>
        <p>※時間帯だけ・曜日だけの選択でも検索できます。</p>
        <%= form_with url: store_waiting_time_path, method: :get, local: true do |f| %>
        <section>
        <%= f.label :time, "時間帯" %>
          <%= f.collection_select :time, FromTo.all, :from_to, :between, {prompt: "選ぶ"}, class: "search-input" %>
        <section>
        <section>
          <%= f.label :week, "曜日" %>
          <%= f.collection_select :week, Week.all, :week_number, :select_week, {prompt: "選ぶ"}, class: "search-input" %>
        </section>
        <section>
          <%= f.submit "検索", class: "btn btn-search" %>
        </section>
        <% end %>
      </div>
      <div class = "microposts-lists">
        <%= render "stores/lists" %>
      </div>
    </div>
    <div class = "waiting_time_result">
      <h3>検索結果</h3>
      <h2>待ち時間: <%= @waiting_time %></h2>
      <h2>時間帯: <%= @time %></h2>
      <h2>曜日: <%= @week %></h2>
    </div>
    <% unless @microposts.nil? %>
      <h1 class = "page-title">該当のレビュー</h1>
      <%= render "microposts/index" %>
    <% end %>
  </div>
</div>