<% provide(:top_text, "－ユーザー登録－") %>
<div class = "container">
  <div class = "input-form">
    <%= form_with(model: @user, local: true) do |f| %>

      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, class: 'form-control' %>
      <% if @user.errors.include?(:name) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %>
      <% end %>
      <p>※12文字以内で入力してください。</p>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if @user.errors.include?(:email) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
      <% end %>
      <p>&nbsp;</p>
      
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
      <% if @user.errors.include?(:password) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:password).first %>
      <% end %>
      <p>※半角6~12文字英大文字・小文字・数字それぞれ１文字以上含む必要があります。</p>

      <%= f.label :password_confirmation, "パスワード確認用" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% if @user.errors.include?(:password_confirmation) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:password_confirmation).first %>
      <% end %>
      <p>※確認のためもう一度入力してください。</p>

      <div class = "input-submit">
        <%= f.submit "アカウント作成" %>
      </div>

    <% end %>
    
  </div>
</div>