<% provide(:title, "#{@micropost.user.name}さんの投稿") %>
<div class = "container">
  <h1 class = "top_text">－投稿内容－</h1>
  <div class = "store-form">
    <div class = "index-form">
      <div class = "index-objects">
        <div class = "index-object index-micropost">
          <div class = "searched-store-info micropost-info">
            <div class = "micropost-top">
              <h3><%= @micropost.score %>点</h3>
              <div class = "micropost-menu">
                <p class = "micropost-ate_food"><%= @micropost.ate_food %></p>
                <div class = "micropost-link">
                  <p>店舗名: <%= link_to @micropost.store.name,  @micropost.store %></p>
                  <p>投稿者: <%= link_to @micropost.user.name, @micropost.user %></p>
                  <p class = "created_at" >投稿日: <%= @micropost.created_at.strftime('%Y/%m/%d') %></p>
                </div>
              </div>
            </div>
            <div class = "micropost-body">
              
              <% if @micropost.store_image.attached? %>
                <%= image_tag @micropost.store_image, width:"200px", height:"200px" %>
              <% else %>
                <%= image_tag "/seed_image/#{@micropost.micropost_image}", width:"200px", height:"200px" %>
              <% end %>                
              <div class = "micropost-content">
                <div class = "micropost-data">
                  <p>来店日: <%= @micropost.visit_date %></p>
                  <p>来店時間: <%= @micropost.visit_time.strftime( "%H:%M" ) %></p>
                  <p>待ち時間: 約<%= @micropost.waiting_time %>分</p>
                </div>
                <p><%= longtext(@micropost.content)%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to :back, class: "back-btn" do %>
        <i class="fas fa-reply">戻る</i>
      <% end %>  
    </div>
      <% if @current_user.id == @micropost.user.id %>
        <%= link_to "投稿を削除する", @micropost, method: :delete, data: {confirm: "この投稿に削除しますか？"}, class: "btn micropost-delete" %>
      <% end %>
  </div>
</div>