<footer>
  <div class = "raimon">
    <%= image_tag '/雷文.png' %><%= image_tag '/雷文.png' %><%= image_tag '/雷文.png' %><%= image_tag '/雷文.png' %>
  </div>
  <div class="container">
    <%= link_to root_path do %>
          <%= link_to image_tag('/footer-image.png', alt: "Ramen logo", width: "220px", height:"50px", class: "logo"),
                      @current_user == nil ? root_path : user_path(@current_user) %>
    <% end %>
    <ul class = "footer_links">
      <li class = "footer-link"><%= link_to "トップ", "#" %></li>
      <li class = "footer-link"><%= link_to "検索", "#" %></li>
      <li class = "footer-link"><%= link_to "お問い合わせ", "#" %></li>
    </ul>
  </div>
</footer>